body{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
  min-width: 320px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  max-width: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
}